body {
background-color: black;
text-align: center;
color: white;
}
ul li a {
text-decoration: none;
}
nav ul {
list-style-type: none;
margin:0 auto;
padding:10px;
}
nav ul li {
display: inline-block;
text-align:center;
margin-left:100px
}
nav ul li a {
color:#AAD8E6;
border-radius:20px;
display:inline-block;
width:150px;
padding:5px;
text-decoration:dotted;
background-color:#00008B;
}
nav ul li:hover a {
color:red;
background-color:white;
}
nav ul li a.current {
background-color:grey;
color:black;
}
h1 {
color:yellow;
text-align: center;
font-family: "Verdana", sans-serif;
font-weight: bold;
font-style: oblique;
}
.serif {
  font-family: "Times New Roman", Times, serif;
}
p {
font-family: "Lucida Console", Courier, monospace;
}
a {
text-decoration:none;
}
header {
background-color:orange;
}
legend {
text-decoration: underline;
text-align: center;
font-family: "Lucida Console", Courier, monospace;
font-size:30px;
font-weight: bold;
margin-bottom:10px
}
input.Fback {
height: 30px;
width:  300px;
}
form {
text-align:left;
margin-left:30px;
margin-bottom:50px;
}
li {
font-family: "Lucida Console", Courier, monospace;
}
